<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotRas" publicKeyToken="b378f04384b7892a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.5166.33433" newVersion="1.3.5166.33433" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>